@{
    Layout = "Layout1";
}
@model IEnumerable<Student>

<div class="border container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Manage Students</h2>

        </div>
       
    </div>
    <hr />



    <table id="example" class="table table-bordered table-striped " style="width:100%">
        <thead>
            <tr>
                <th>
                    Student Id
                </th>
                <th>
                    Student Name
                </th>
                <th>
                    Address
                </th>
                <th>
                    Faculty
                </th>

                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="10%">
                        @obj.StudentId
                    </td>
                    <td width="30%">
                        @obj.StudentName

                    </td>
                    <td width="30%">
                        @obj.Address

                    </td>
                    <td width="50%">
                        @obj.Faculty

                    </td>

                    <td>
                        <div class="w-75 btn-group" role="group">

                            <a asp-controller="Admin" asp-action="Edit_Students" asp-route-id="@obj.StudentId" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>Edit</a>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Home" asp-action="Button" class=" btn btn-secondary " style="width:150px">Back</a>
</div>

